extends layout

block content

  h1 #{albums.artist}
  if errors
    each error in errors
      h4(id='error') #{error}
  if albums.albums
    each album in albums.albums
      h4
        a(href='/album/edit/' + album._id) #{album.name}
  form(method='post' action='/albums')
    label Please add an Album:
      input(type='text' name='album')
    input(type='hidden' name='artistID' value= albums.artistID)
    div
      label Number of tracks:
        select(id='albumLength' name='albumLength')
          -for(var i = 0; i <= 30; i++){
            option(value= i id='track') #{i}
          -}
    div(id='songs')
    button(type='submit') Submit