extends layout

block content
  h1= title
  p Welcome to #{title}

  if artists
    table
      tr
        th Artist:    
      each artist in artists
          tr
            td 
              a(href='/artists/' + artist._id) #{artist.artist}
  div
    form(method='post' action='/artists')
      label Add an Artist:
        input(type='text' name='artist') 
      button(type='submit') Submit