extends layout

block content
  h1= title
  p Welcome to #{title}

  table
    tr
      th Artist:
    if artists  
      each artist in artists
          tr
            td 
              a(href='/artists/' + artist._id) #{artist.artist}