extends layout

block content

  if errors
    each error in errors
      h4(id='error') #{error}
  if artists
    h1 Artists:    
    each artist in artists
      div
        h4
          a(href='/artists/' + artist._id) #{artist.artist}
  div
    form(method='post' action='/artists')
      label Add an Artist:
        input(type='text' name='artist') 
      button(type='submit') Submit