extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    a(href='/songs/artists') View/Create Artists
  div
    a(href='/songs/albums') View/Create Albums
  div
    a(href='/songs') View/Create Songs
  div
    a(href='/playlists') View/Create Playlists