extends layout

block content
  h1 Playlists:

  //once lib db functions declared and implemented, show playlists here
  if playlists
    each playlist in songs.playlists
      h4
        a(href='/playlists/' + playlist._id) #{playlist.name}


  form(method='post' action='/playlists')
    input(type='hidden' name='totalSongs' value= songs.songs.length)
    label Please add a Playlist name:
      input(type='text' name='playlist')
    table
      tr
        th Artist:
        th Album:
        th Song:
        th Add to playlist?
      -for (var i = 0; i < songs.songs.length; i++){
        tr
          td #{songs.artists[i].artist}
          td
            if songs.albums[i]
              = songs.albums[i].name
          td #{songs.songs[i].name}
          td
            input(type='checkbox' name='song' + (i + 1) value= songs.songs[i]._id)
      -}
        
    button(type='submit') Submit