extends layout

block content
  h1 #{name}

  each song in songs
    p #{song.name}
  div
    a(href='/playlists/' + id + '/edit') Edit Playlist
  div
    a(href='/playlists/' + id + '/delete') Delete Playlist