extends layout

block content
  h1= title
  p Welcome to #{title}

  //once lib db functions declared and implemented, show songs here

  form(method='post' action='')
    label Please add a Song:
      input(type='text' name='song')
    button(type='submit') Submit